@page "/"
@using Newtonsoft.Json
@using RoletaAnalise.maui.Context
@using RoletaAnalise.maui.Models
@using System.Text.RegularExpressions

<div class="background">
    <div class="container">
        <div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
            <div class="text-center">
                <div class="input-group mb-3">
                    <button @onclick="SalvaNumeros" class="input-group-text" id="basic-addon1">Adiciona Sequência</button>
                    <input @bind="inputNumber" type="text" class="form-control" placeholder="14;8;31;22;19;16;29" aria-label="Sequencia" aria-describedby="basic-addon1">
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private string inputNumber = string.Empty;
    private string? message = "";
    private string? message2 = "";
    private string? message3 = "";
    private List<Numero> listaDeNumero = new();
    private ManipulaJson _salvaJson = new();

    private void SalvaNumeros()
    {
        try
        {
            if (ConfereString(inputNumber))
            {
                var novosNumeros = ConverterInputParaNumeros(inputNumber);
                inputNumber = "";
                listaDeNumero.AddRange(novosNumeros);
                SalvaEmJson();
                message = $"Números adicionados: {string.Join(", ", listaDeNumero)}";
                message = AppContext.BaseDirectory;
            }
            else
            {
                message = "Verificar números. Parece ter caracter inválido.";
            }
        }
        catch (Exception ex)
        {
            message = $"Formato inválido: {ex.Message}. Inserir numeros sem espaços, separados por ponto e vírgula";
        }
    }

    private IEnumerable<Numero> ConverterInputParaNumeros(string input)
    {
        return input.Split(";")
                    .Select(numStr => int.TryParse(numStr, out int valor) ? valor : (int?)null)
                    .Select(valor => new Numero
                    {
                        Id = Guid.NewGuid(),
                        Valor = valor.Value,
                    });
    }

    private void SalvaEmJson()
    {
        string json = JsonConvert.SerializeObject(listaDeNumero, Formatting.Indented);

        _salvaJson.AdicionaNumero(json);
    }

    private bool ConfereString(string input)
    {
        if (Regex.IsMatch(input, @"^[0-9;]+$"))
        {
            return true;
        }
        else
        {
            return false;
        };
    }

}